<a href="https://colab.research.google.com/github/LuisIvan2021/CyP2022G1157/blob/main/Fundamentos3_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Repetición:
  - Este tipo de estructura nos permite automatizar la ejecucion, repetitiva de código muientras ciertas condiciones se cumplan, tenemos tres variantes de esta estructura en todos los lenguajes de programación:
    - Desde...Hasta (estructura for)
    - haz mientras (estructura While)
    - haz y luego validas mientras (estructura Do-While)

#FOR CON PYTHON

```
for j in range(10):
    print(f"hola {j})
```
# FOR CON LENG C Y/O JAVA
```
for( int j=0 ; j<10 ; j=j+1){
  printf("hola &i \n", j);
```

En todos los lenguajes de programacion existe un tipo especial de for, conocido como **for-each**

# FOR-each en python
```
for color in colores:
    print(f"este es el color {color}")
```

In [ ]:
# funcion range()
#range(<INICIO>,<STOP>,<INCREMENTO>)
x= range(0,10,2)
print(x)


for j in range(10): #range(0,10)--> 0,1,2,3,4,5,6,7,8,9
    print(f"hola {j}")
print("----------")
for j in range(0,10,2): #range(0,10)--> 0,2,4,6,8
    print(f"hola {j}")

frutas = ["Uva","aguacate","pera","manzana","sandia"]

print(frutas[0])
print(frutas[1])
print(frutas[2])
print(frutas[3])
print(frutas[4])

print("_--------")
for index in range(5):
    print(frutas[index])

range(0, 10, 2)
hola 0
hola 1
hola 2
hola 3
hola 4
hola 5
hola 6
hola 7
hola 8
hola 9
----------
hola 0
hola 2
hola 4
hola 6
hola 8
Uva
aguacate
pera
manzana
sandia
_--------
Uva
aguacate
pera
manzana
sandia

In [1]:
for i in range(5):
    print("+++++")

+++++
+++++
+++++
+++++
+++++

In [5]:
for x in range(1, 20, 1):
    print(x)
print("fin del programa")

for x in range(19, 0, -1):
    print(x)
print("fin del programa")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
fin del programa
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
fin del programa

In [10]:
#EJEMPLO 1
CUECER =0
NUM= 0
N= int(input("un valor numerico mayor que 1: "))
for i in range( 1, N+1,1 ):
    N= int(input("un valor numerico: "))
    if N == 0:
        CUECER += 1

print("CUECER", CUECER)

un valor numerico mayor que 1: 4
un valor numerico mayor que 1: 0
un valor numerico mayor que 1: 0
un valor numerico mayor que 1: 2
un valor numerico mayor que 1: 2
CUECER 2

In [11]:
n=7
for i in range(1,11,1):
    x=n*i
    print(f"{n} x {i} = {x}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Dame un numero entre 1 y 5
Dame un numero entre 2 y 5
10

In [22]:
NUM1=int(input("dame un numero entre uno y cinco: "))
NUM2= int(input(f"dame un numero entre {NUM1} y 10: "))
if 1<NUM1>5 or NUM1<NUM2>10:
    print("escribe valores en los rangos")

for y in range(NUM1,NUM2+1,1):
    for x in range(1,11,1):
        print(y,"x",x,"=", y*x)
    for x in range(1,11,1):
        print(y,"x",x,"=", y*x)

dame un numero entre uno y cinco: 2
dame un numero entre 2 y 10: 5
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [23]:
N1 = int(input("Dame un numero entre 1 y 5: "))
if N1 > 0 and N1 <= 5:
    N2= int(input(f"dame un numero entre {N1} y 10"))
    if N2 >= N1 and N2 <= 10:
        for i in range(N1, N2+1):
            for j in range(1,11):
                print(f"{i} x {j}= ", i*j)
                print("-------")
else:
    print("valor fuera de rango 1-5")

Dame un numero entre 1 y 5: 5
dame un numero entre 5 y 106
5 x 1=  5
-------
5 x 2=  10
-------
5 x 3=  15
-------
5 x 4=  20
-------
5 x 5=  25
-------
5 x 6=  30
-------
5 x 7=  35
-------
5 x 8=  40
-------
5 x 9=  45
-------
5 x 10=  50
-------
6 x 1=  6
-------
6 x 2=  12
-------
6 x 3=  18
-------
6 x 4=  24
-------
6 x 5=  30
-------
6 x 6=  36
-------
6 x 7=  42
-------
6 x 8=  48
-------
6 x 9=  54
-------
6 x 10=  60
-------

In [27]:
SUM = 0
edades = [0 for x in range(5)]
for x in range(5):
    edades[x]= int(input("Introduce una edad: "))
    SUM = SUM + edades[x]
    PROM = SUM/5
print(edades)
print("El promedio de edades es: ", PROM)

Introduce una edad: 5
Introduce una edad: 5
Introduce una edad: 5
Introduce una edad: 5
Introduce una edad: 5
[5, 5, 5, 5, 5]
El promedio de edades es:  5.0

In [ ]:
import random
print(random.random())
print(random.uniform(5,11))
val = round(random.uniform(5,11) , 2)
print(val)

valores = [round(random.uniform(5,11),2) for x in range(20)]
print(valores)