<a href="https://colab.research.google.com/github/LuisIvan2021/CyP2022G1157/blob/main/Fundamentos2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tipos de datos estructurados de phyton
1. listas
2. tuplas
3. diccionarios
4. conjunto(opcional)

#listas

-Tipo de dato que agrupa variables o valores.
- Estructura secuencial (undexados empezando por 0)

-se declara de dos formas

 -usando [ ]
  -usando list()
  -usando un generador

-Puede contener tipos de dato diversos (en otros lenguajes de prog, eso no es posible de forma directa)

-Los elementos internos se seleccionan con []

-Soporta slicing

-SON MUTABLES

-Generadores (var for x in range(10))

-Al ser una clase contiene muchos metodos utiles

In [2]:
numeros=[10,5,2,3,1]
print(numeros)

numeros2= list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)
numeros[2] = 20
print(numeros)
numeros[4] = 33
numeros.append(88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33, 88]

In [3]:
#tipos diversos

cosas= [12,2,True,"Jose",1.57,["pera","kiwi","uva"]]
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3])
cosas[3]= cosas[3].upper()
print(cosas)

[12, 2, True, 'Jose', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSE', 1.57, ['pera', 'kiwi', 'uva']]

In [4]:
numeros=[1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
#slicing
#4 al 8
print(numeros[3:8])
#2: 9,10
print(numeros[8:10])
print(numeros[-3:-1])
#3: imprimir la lsita en orden inverso[11...1]
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
#crear una lista con un generador
numeros= [x^3 for x in range(101)]
print(numeros)

[3, 2, 1, 0, 7, 6, 5, 4, 11, 10, 9, 8, 15, 14, 13, 12, 19, 18, 17, 16, 23, 22, 21, 20, 27, 26, 25, 24, 31, 30, 29, 28, 35, 34, 33, 32, 39, 38, 37, 36, 43, 42, 41, 40, 47, 46, 45, 44, 51, 50, 49, 48, 55, 54, 53, 52, 59, 58, 57, 56, 63, 62, 61, 60, 67, 66, 65, 64, 71, 70, 69, 68, 75, 74, 73, 72, 79, 78, 77, 76, 83, 82, 81, 80, 87, 86, 85, 84, 91, 90, 89, 88, 95, 94, 93, 92, 99, 98, 97, 96, 103]

# Funcion range()
tiene los mismos componentes que slicing

ini,stop, invremento

range(1,101,1)

In [6]:
numeros= [x^3 for x in range(50,101,5)]
print(numeros)

[49, 52, 63, 66, 69, 72, 83, 86, 89, 92, 103]

# metodos disponibles de las listas

In [7]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [8]:
numeros= [4,1,15,8,22,34,50]
print(numeros)
numeros.append(99)
print(numeros)
#numeros.clear()
#numero= []
print(numeros)

frutas=["uvsa","kiwi","manzana"]
copia= frutas
print(frutas)
print(copia)
frutas.append("naranja")
print(frutas)
print(copia)

colores=["rojo","azul","blanco"]
copia2= colores.copy()
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

print("Numero de veces que aparece el 15=", numeros.count(15))

#extend

nombres=["jose","pedro","karina"]
otrosnombres=["josue","diana", "dalia"]

print(nombres)
print(otrosnombres)
nombres= nombres+otrosnombres
print(nombres)
print(otrosnombres)

#lo mismo con el metodo extend
otrosnombres.extend(["jesus","maria","jose"])

print("jesus esta en la posicion:", otrosnombres.index("jesus"))
otrosnombres.insert(4,"espiritu santo")
print(otrosnombres)

#POP
resultado= otrosnombres.pop()
print(otrosnombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[4, 1, 15, 8, 22, 34, 50, 99]
['uvsa', 'kiwi', 'manzana']
['uvsa', 'kiwi', 'manzana']
['uvsa', 'kiwi', 'manzana', 'naranja']
['uvsa', 'kiwi', 'manzana', 'naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
Numero de veces que aparece el 15= 1
['jose', 'pedro', 'karina']
['josue', 'diana', 'dalia']
['jose', 'pedro', 'karina', 'josue', 'diana', 'dalia']
['josue', 'diana', 'dalia']
jesus esta en la posicion: 3
['josue', 'diana', 'dalia', 'jesus', 'espiritu santo', 'maria', 'jose']
['josue', 'diana', 'dalia', 'jesus', 'espiritu santo', 'maria']
jose

# Tuplas

### Caracteristicas de las tuplas

- Datos agrupados
- Se declara usando#

  --( )
  - tuple()
-Estrucctura secuencial, indexada apartir de 0
- Pueden tener de 0 a n elementos
-NO SON MUTABLES (no se puede eliminar y/o cambiar)
- Son buenas para almacenar informcacion de consulta.
- Pueden almacenar informacion de difernetes tipos de datos.
- Pueden estar anidadas
- Tienen metodos utiles

In [9]:
info = ("juan23", "dios1234", "123.232.1.12")
print(info)
print(info[1])
#print(info[1]) = "patito23"

numeros= (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros)
print(numeros[5:11])

cosas= (info, numeros)
print(cosas)

print(cosas[1][5:11])
print(cosas[0][2][4:7])
print(cosas[0][2][-8:-5])

('juan23', 'dios1234', '123.232.1.12')
dios1234
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(6, 7, 8, 9, 10, 11)
(('juan23', 'dios1234', '123.232.1.12'), (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(6, 7, 8, 9, 10, 11)
232
232

#metodos de las tuplas
Son los mismos de las listas pero los que no involucren mutabilidad.

In [10]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Diccionarios
### Caracteristicas de los diccionarios

- Agrupan datos pero de forma no lineal.
- Se declaran con:
  -{}
  -dict()
- Formado por pares del tipo llave: valor, dende:
  - Llave es de tipo string (siempre)
  - Valor puede ser de cualquier tipo de datos, incluyendo los diccionarios.
- Se seleccionan con la llave de la forma : ["id_llave"]
- Son mutables
- Son anidables
- Son equivalentes al tipo de dato JSON del lenguaje JavaScript (JS)

In [11]:
alumno= {"nombre": "Jose"}
print(alumno)
print(alumno['nombre'])
alumno = {"nombre":"Jose", "nc":"2129229292", "edad": 18}
print(alumno["edad"])
print("Edad del alumno =",alumno["edad"])
print(alumno["nombre"].upper())
alumno2 = dict()# {}
alumno2["nombre"]="Jose"
print(alumno2)
alumno2["nc"]="2129229292"
alumno2["edad"]= 18
print(alumno2)
alumno2["edad"]= alumno2["edad"] +1
print(alumno2)

{'nombre': 'Jose'}
Jose
18
Edad del alumno = 18
JOSE
{'nombre': 'Jose'}
{'nombre': 'Jose', 'nc': '2129229292', 'edad': 18}
{'nombre': 'Jose', 'nc': '2129229292', 'edad': 19}

In [12]:
cliente= {"id":"CT2121",
          "nombre":"Jose Pedroza Rosales",
          "telefono":"casa=554456565 cel= 0445567767"}
print(cliente)
cliente = { "id":"CT2121" ,
            "nombre" : {
                "nombres" : ["José", "Eduardo"],
                "paterno" : "Pedroza",
                "materno" : "Rosales"
            } ,
            "telefonos" : {
                "casa" : "55-6632-4234",
                "trabajo":"55-443-3232" ,
                "celular":"044-55-234234"
            } ,
           "productos":{
               "ahorro":{ "numero_cuenta":"7788" , "ahorro": 2500.5 },
               "tarjetas":[
                            {"tipo":"debito" , "saldo" : 10000.5  },
                            {"tipo":"credito preferente" , "limite":250000.5},
                            {"tipo":"lite" , "limite": 15000.5 }
                ]
           },
           "direccion":{
               "calle":"Av. central",
               "numero" : 1245,
               "colonia" :"Impulsora",
               "delegacion" :"neza",
               "estado" : {
                            "clave" : 15,
                           "nombre_corto":"EdoMex",
                           "nombre": "Estado de México"
                            }
           }

            }
print( cliente["telefonos"]["casa"] )
print(cliente)
print(cliente["productos"]["ahorro"]["ahorro"])
print( cliente ["productos"]["tarjetas"][2]["limite"])
print( cliente ["direccion"]["estado"]["nombre"].upper())
cliente["productos"]["ahorro"]["ahorro"]-= 1500.0
print(cliente["productos"])

{'id': 'CT2121', 'nombre': 'Jose Pedroza Rosales', 'telefono': 'casa=554456565 cel= 0445567767'}
55-6632-4234
{'id': 'CT2121', 'nombre': {'nombres': ['José', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'telefonos': {'casa': '55-6632-4234', 'trabajo': '55-443-3232', 'celular': '044-55-234234'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'direccion': {'calle': 'Av. central', 'numero': 1245, 'colonia': 'Impulsora', 'delegacion': 'neza', 'estado': {'clave': 15, 'nombre_corto': 'EdoMex', 'nombre': 'Estado de México'}}}
2500.5
15000.5
ESTADO DE MÉXICO
{'ahorro': {'numero_cuenta': '7788', 'ahorro': 1000.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}

#Estructura de control de programación

Se puede crear cualquier tipo de algoritmo empleando solamente 3 estructuras de control:

1. Secuencia1:
  - La representacion de la memoria de programa (Arquitectura Vonn Newman)

2. Seleccion:
  - Es la estructura de control que decide si un bloque de programa se ejecuta o no se ejecuta. Tambien permite seleccionar ejecutar un bloque entre un conjunto de opciones.
  En resumen tenemos: Selección simple, selección con bifurcacion y selección multiple.

3. Repeticion:
  - Este tipo de estructura nos permite automatizar la ejecucion, repetitiva de código muientras ciertas condiciones se cumplan, tenemos tres variantes de esta estructura en todos los lenguajes de programación:
    - Desde...Hasta (estructura for)
    -haz mientras (estructura While)
    -haz y luego validas mientras (estructura Do-While)

In [16]:
# seleccion simple

edad= int(input("Dame tu edad: "))
print (f"Tecleaste {edad} años")

# if <CONDICION> :
#    <Cuerpo del IF>
##NOTA## Para establecer el cuerpo de una estructura de control en python
#se usan los tabuladores a la izq.

#En otros lenguajes de programacion como java, c y c++... se usan las llaves {}
"""

if edad= 0 :
printf("Dame tu edad: ");
scanf("%i", &edad);
if(edad >= 18){
printf("Eres mayor de edad")
}
printf("fin de programa")
"""

if edad>= 18 :
    print("Eres mayor de edad")
    print("algo")
print("")
print("fin de programa")

CAL= float(input("Dame tu calificacion: "))
if CAL>8 :
    print("aprovado")
print("fin de programa")

Dame tu edad: 18
Tecleaste 18 años
Eres mayor de edad
algo

fin de programa
Dame tu calificacion: 8
fin de programa

In [15]:
SUE= float(input("Dame tu sueldo: "))
if SUE<1000 :
    AUM=SUE*.15
    MSUE=SUE+AUM
print(MSUE)
print("fin de programa")

Dame tu sueldo: 15
17.25
fin de programa

#estructura de seleccion con bifurcacion (if-else)

Esta esttructura, selecciona una de las dos opciones de ejecucion, se ejecuta un bloque si la condicion se cumple o se ejecuta otro bloque si la condicion no se cumple (else)

```
if<condicion> :
  <bloque de ejecucion>
else:
  <bloque de ejecucion alterno>
```

In [17]:
edad = int(input("Dame tu edad: "))
print(f"Tecleaste {edad} años")
if edad >= 18:
    print("Eres mayor de edad, ten tú cheve")
else:
    print("Eres menor de edad, ten tú boing")
print("fin del programa")

Dame tu edad: 19
Tecleaste 19 años
Eres mayor de edad, ten tú cheve
fin del programa

In [18]:
edad = int(input("Dame tu edad: "))
dinero = float(input("cuanto tienes de dinero? "))
print(f"Tecleaste {edad} años")
print(f"Tecleaste {dinero} pesos")
if edad >= 18 and dinero >= 36:
    print("Eres mayor de edad, ten tú cheve")
else:
    print("Eres menor de edad, ten tú boing")
print("Fin de programa")

Dame tu edad: 19
cuanto tienes de dinero? 60
Tecleaste 19 años
Tecleaste 60.0 pesos
Eres mayor de edad, ten tú cheve
Fin de programa

In [19]:
edad = int (input("Dame tu edad:"))
dinero = int (input("¿Cuánto dinero tienes?"))
if edad >= 18:
    if dinero >=35:
        print("Eres mayor de edad y tienes dinero, ten tu cheve")
    else:
        print("No tienes suficiente dinero")
else:
    print("Eres menor de edad, ten tu Boing")
print("Fin del programa")

Dame tu edad:19
¿Cuánto dinero tienes?60
Eres mayor de edad y tienes dinero, ten tu cheve
Fin del programa

El codigo anterior, se puede simplificar usando una palabra elif

In [22]:
edad = int(input("Dame tu edad: "))
dinero = float(input("Cuanto dinero tienes: "))
print(f"Tecleaste {edad} años")
print(f"Tecleaste {dinero} dinero")
if edad >= 18 :
    if dinero >=36 :
        print("Ten tu cheve")
    else:
        print("tienes la edad pero no tienes dinero suficiente")
elif dinero >= 36 :
    print("Tienes dinero suficiente pero no tienes la edad")
else:
    print("No tienes la edad ni el dinero, ve a jugar roblox a tu casa")

Dame tu edad: 19
Cuanto dinero tienes: 60
Tecleaste 19 años
Tecleaste 60.0 dinero
Ten tu cheve

In [23]:
CAL= float(input("Escribe tu calificiación: "))
if CAL >= 8 :
    print("Aprobado")
else: 
    print("Reprobado")

Escribe tu calificiación: 9
Aprobado

In [24]:
SUE=float(input("Dame tu sueldo: "))
if SUE<1000:
    NSUE=SUE*1.15
else:
    NSUE=SUE*1.12
print(f"Tu nuevo sueldo es: {NSUE}")

Dame tu sueldo: 1005
Tu nuevo sueldo es: 1125.6000000000001

# ejercicio if-else
### Hacer un programa que solicite el dia de la semana, en un valor numerico entero del 1 al 7 (avisarle al usuario si propociono un valor fuera del rango).

###posteriormente imprimira el dia de la semana correspondiente al numero capturado
1 Lunes
2. Martes
3. Miercoles
4. Jueves
5. Viernes
6. Sabado
7. Domingo

In [31]:
dia=int(input("Dame el día de la semana del 1-7: "))
if dia is 1:
    print("LUNES")
elif dia is 2:
    print("MARTES")
elif dia is 3:
    print("MIERCOLES")
elif dia is 4:
    print("JUEVES")
elif dia is 5:
    print("VIERNES")
elif dia is 6:
    print("SÁBADO")
elif dia is 7:
    print("DOMINGO")
else:
    print("Debe ser un numero del 1 al 7, ingresa nuevamente")

Dame el día de la semana del 1-7: 2
MARTES

In [36]:
dia= int(input("ingresa un numero entre 1 y 7 :"))
print(f"capturaste el numero {dia}")

if dia >=1 and dia <= 7:
    if dia == 1:
        print("Lunes")
    else:
        if dia == 2:
            print("Martes")
        else:
            if dia == 3 :
                print("Miercoles")
            else:
                if dia == 4 :
                    print("Jueves")
                else:
                    if dia == 5:
                        print("Viernes")
                    else:
                        if dia == 6 :
                            print("Sabado")
                        else:
                                print("Domingo")
else:
    print("Ese numero no esta en el rango solicitado")

ingresa un numero entre 1 y 7 :5
capturaste el numero 5
Viernes

#Seleccion multiple (switch)
En python no existe la estructura de seleccion switch, en su lugar se emplea la palabra reservada 

## elif <condicion>:

In [37]:
#ejemplo 2.7

NUM= int(input("Dame un numero entre 1 y 3"))
V= float(input("Dame un valor float"))
VAL=0
if NUM== 1:
    VAL=100 * V
elif NUM==2:
    VAL==100 ** V
elif NUM== 3 :
    Val= 100/V
else:
    VAL= 0
print(VAL)

Dame un numero entre 1 y 31
Dame un valor float5
500.0